---
const {frontmatter} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{frontmatter.title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <main class="w-full flex justify-center py-10 px-8">
            <article class="prose prose-slate">
                <slot />
            </article>
        </main>
    </body>
</html>